@media(max-width: 900px){
    .SideBar__Container{
        display: none;
        position: absolute;
    }
    .close{
        visibility: visible;
    }
    .MainContent__Container{
        width: 100%;
        margin-left: 0px;
    }
    .buttons{
        width: 100%;
    }
    .MobileNumber{
        height: 90px;
    }
    .Address{
        margin-bottom: 20px;
    }
    .bar{
        visibility: visible;
    }
}
@media(max-width: 620px){
    .Title{
        font-size: 22px;
        transition: 0.6s;
    }
    .AboutMe{
        flex-direction: column;
    }
    .programmerImage{
        margin-top: 30px;
    }
    .description{
        margin: auto;
        width: calc(100% - 35px) !important;
    }
}
@media(max-width: 580px){
    .Projects{
        flex-direction: column;
        align-items: center;
        li{
            width: 80%;
        }
    }
    .SocialNetworks{
        margin-left: 0px;
    }
}